<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/ticket.css') }}">
</head>

<body>

    <section class="get">
        <div class="reciept">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">

                        <table>
                            <tr>
                                <td>
                                    <h4>your reciept</h4>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        Movie name:
                    </td>
                    <td>
                        {{movie_name}}
                    </td>

                </tr>
                <tr>
                    <td>Location:</td>
                    <td>{{location}}</td>
                </tr>
                <tr>
                    <td>Theathre:</td>
                    <td>{{theather}}</td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td>{{time}}</td>
                </tr>
                <tr>
                    <td>No Of Seats:</td>
                    <td>{{no_of_seats}}</td>
                </tr>
            </table>
        </div>

    </section>
    
</body>

</html>